{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}

    {#    header #}
    {{ include('utilitaire/header.html.twig') }}
    <div class="vh-150 d-flex flex-column p-5 h-100 mb-5 align-items-center justify-content-center">

        <div class="card border-0  shadow mt-2 align-items-center justify-content-center w-75">
            <h1 class="mt-5">A propos</h1>
            <p class="my-2 mx-5">
                Nous sommes une startup passionnée par la création de solutions numériques pour faciliter la vie
                quotidienne des gens. Notre produit phare est un site web de liste de courses qui vous permet
                de créer et de gérer facilement des listes de courses en ligne.
            </p>
            <p class="my-2 mx-5">
                Notre équipe se compose de développeurs expérimentés, de designers talentueux et de professionnels
                de la gestion de projet, tous déterminés à créer une expérience utilisateur exceptionnelle pour
                nos utilisateurs.
            </p>
            <p class="my-2 mx-5">
                Nous sommes convaincus que notre site web de liste de courses peut aider les gens à économiser du
                temps et de l'argent en leur permettant de mieux planifier leurs achats. Nous croyons également
                qu'il peut aider les familles à mieux communiquer et à travailler ensemble pour atteindre leurs
                objectifs de consommation.
            </p>
            <p class="my-2 mx-5">
                Notre objectif est de rendre la planification des courses aussi simple et agréable que possible pour nos
                utilisateurs. Nous sommes impatients de vous accompagner dans votre parcours d'achat et de vous aider
                à tirer le meilleur parti de notre site web de liste de courses. Merci de nous faire confiance!
            </p>
            <div class="h3"> Nos profils</div>
            <div class="row p-4">
                <div class="col">
                    <div class="card border-0 shadow-sm">

                        <img src="/images/image_bastien.jpg" class="card-img-top" alt="Bastien">
                        <div class="card-body ">
                            <div class="card-title ">Bastien Pusceddo</div>
                            <div class="card-text">
                            <p class="text-muted">developper</p>
                            <p> i love css</p>
                            <p>bastien.pusceddo@etu.univ-lyon1.fr</p>
                            </div>
                            <a href="mailto:bastien.pusceddo@etu.univ-lyon1.fr"><button class="btn btn-primary btn-outline-light w-100">Contact</button></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-sm">

                        <img src="/images/image_françois.jpg" class="card-img-top" alt="François">
                        <div class="card-body ">
                            <div class="card-title ">François Graux</div>
                            <div class="card-text">
                                <p class="text-muted">developper front end</p>
                                <p>PHP is love PHP is life</p>
                                <p>francois.graux@etu.univ-lyon1.fr</p>
                            </div>
                            <a href="mailto:francois.graux@etu.univ-lyon1.fr"><button  class="btn btn-primary btn-outline-light w-100">  Contact</button> </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-sm">

                        <img src="/images/image_valentin.jpeg" class="card-img-top" alt="Jane">
                        <div class="card-body ">
                            <div class="card-title ">Valentin Segala</div>
                            <div class="card-text">
                                <p class="text-muted">developper backend</p>
                                <p>oui</p>
                                <p>valentin.segalla@etu.univ-lyon1.fr</p>
                            </div>
                            <a href="mailto:valentin.segalla@etu.univ-lyon1.fr"><button class="btn btn-primary btn-outline-light w-100">Contact</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    footer #}
    {{ include('utilitaire/footer.html.twig') }}
{% endblock %}
