{% extends 'base.html.twig' %}

{% block title %}Nouveau Type{% endblock %}

{% block body %}
    {{ include('utilitaire/headerAdmin.html.twig') }}
<div class="d-flex flex-column pt-3 justify-content-center align-items-center  rounded bg-primary text-white p-4">
    <h1>Création d'un type</h1>
    {{ include('type/_form.html.twig') }}
    <a href="{{ path('admin_type_index') }}" class="pulse text-info mb-2">Retour</a>
</div>
    {{ include('utilitaire/footerAdmin.html.twig') }}
{% endblock %}
