{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ user.prenom}} {{user.nom }}!</h1>
    <div>
        <h2>Que voulez-vous gérer ?</h2>
        <a href="{{ path("admin_article_index") }}">Article</a>
        <a href="{{ path("admin_type_index") }}">Type d'Article</a>
    </div>
</div>
{% endblock %}
