{% extends 'base.html.twig' %}

{% block title %}New DetailsArticle{% endblock %}

{% block body %}
    <h1>Create new DetailsArticle</h1>

    {{ include('details_article/_form.html.twig') }}

    <a href="{{ path('app_liste_article',{"id":id}) }}">back to list</a>
{% endblock %}
