{% extends 'base.html.twig' %}

{% block title %}New ListeCourse{% endblock %}

{% block body %}
    {#    header#}
    {{ include('utilitaire/header.html.twig') }}

    <div class="p-3 d-flex flex-column  justify-content-center align-items-center  rounded bg-primary text-white d-flex align-items-center">
        <h1>Create new ListeCourse</h1>
        {{ include('liste_course/_form.html.twig') }}
        <a class="pulse text-info mb-2" href="{{ path('app_home') }}">back to list</a>
    </div>

    {#    footer#}
    {{ include('utilitaire/footer.html.twig') }}
{% endblock %}
