{% extends 'base.html.twig' %}

{% block title %}New ListeCourse{% endblock %}

{% block body %}
    {#    header#}
    {{ include('utilitaire/header.html.twig') }}

    <div class=" vh-75 mt-5 d-flex flex-column  justify-content-center align-items-center">
        <div class="px-5 pb-5 pt-2 d-flex flex-column  justify-content-center align-items-center  rounded w-25 bg-primary text-white">
            <h1>Create new ListeCourse</h1>
            {{ include('liste_course/_form.html.twig') }}

            <a class="pulse text-info mb-2" href="{{ path('app_home') }}">back to list</a>
        </div>
    </div>

    {#    footer#}
    {{ include('utilitaire/footer.html.twig') }}
{% endblock %}
