{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}
    <h1>Éditer l'Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('admin_article_index') }}">back to list</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
