{% extends 'base.html.twig' %}

{% block title %}Nouveau{% endblock %}

{% block body %}
    {{ include('utilitaire/headerAdmin.html.twig') }}

<div class="d-flex flex-column pt-3 justify-content-center align-items-center  rounded  bg-primary text-white p-4">
    <h1>Nouvel Article</h1>
    {{ include('article/_form.html.twig') }}
    <a href="{{ path('admin_article_index') }}" class="pulse text-info mb-2">Retour</a>
</div>

    {{ include('utilitaire/footerAdmin.html.twig') }}
{% endblock %}
